<nav class="container navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Bibliodome</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link disabled" href="#">Categories [Coming Soon]</a>
        <a class="nav-item nav-link" href="/sessions/login">Login</a>
        <a class="nav-item nav-link" href="/users/signup">Signup</a>
    </div>
</nav>