<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
    <title>Bibliodome | Where Words Come To Life</title>
</head>

<body>
    <% include ./partials/nav.ejs %>
    <div class="container text-center">

        <h1>Bibliodome: Where Words Come To Life</h1>
        <% if(currentUser) { %>
        Welcome <%=currentUser.username%>!
        <a class="btn" href="/sessions/">Log Out</a>
        </h1>
        <% } %>
        <div class="row">
            <div class="col-sm-6">
                <h2>Popular</h2>
            </div>
            <div class="col-sm-6">
                <h2>Search</h2>
                <form action="/books/results" method="POST">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Book Title</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default"
                            aria-describedby="inputGroup-sizing-default" name="title">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Book Author</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default"
                            aria-describedby="inputGroup-sizing-default" name="author">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>

                </form>
            </div>
        </div>

    </div>
</body>

</html>