* {
    outline: 1px solid black;
    outline-offset: -1px;
}

body {
    background: lightskyblue;
}

.card {
    .card-description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        /* Number of lines displayed before it truncate */
        overflow: hidden;
    }
}

.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;

    label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        cursor: pointer;

        &:last-child {
            position: static;
        }

        &:nth-child(1) {
            z-index: 5;
        }

        &:nth-child(2) {
            z-index: 4;
        }

        &:nth-child(3) {
            z-index: 3;
        }

        &:nth-child(4) {
            z-index: 2;
        }

        &:nth-child(5) {
            z-index: 1;
        }

        input {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .icon {
            float: left;
            color: transparent;
        }

        &:last-child .icon {
            color: #000;
        }
    }

    &:not(:hover) label input:checked~.icon,
    &:hover label:hover input~.icon {
        color: #09f;
    }

    label input:focus:not(:checked)~.icon:last-child {
        color: #000;
        text-shadow: 0 0 5px #09f;
    }
}